---
layout: default
title: About
---

<p>
I'm Ben Webb, a Physics student and freelance programmer. I'm known throughout the internet as bjwebb or bjwebb67.
</p><p>
I'm still putting this website together, so it will be quite spartan in places.
</p>

</div>
<div class="section">

<h3>Contact Me</h3>

<ul>
<li><a href="mailto:ben@bjwebb.co.uk">Email</a> (PGP: <a href="https://bjwebb.co.uk/files/key.asc">770f4eb1</a>)</li>
<li>XMPP: ben@bjwebb.co.uk (<a href="https://bjwebb.co.uk/files/xmpp.txt">OTR fingerprint</a>)</li>
<li><a href="http://identi.ca/bjwebb">Identica</a></li>
<li><a href="http://twitter.com/bjwebb67">Twitter</a></li>
<li><a href="http://uk.linkedin.com/in/bjwebb">LinkedIn</a></li>
</ul>

