---
layout: default
title: Projects
---

{% for post in site.pages %}
{% if post.url != '/p/' and post.url contains '/p/' %}
<div class="section">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{post.content | markdownify}}
</div>
{% endif %}
{% endfor %}
