---
layout: default
title: Posts
---

{% for post in site.posts %}
<div class="section">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {{post.content | markdownify}}
</div>
{% endfor %}
