<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title>Ben Webb (bjwebb) - {{ page.title }}</title>
</head>
<body>

<div id="root">

<div id="headerWrap">
<div id="header">
<div id="header_inner">
    <h1><a href="/">{{ site.name }}</a></h1>
    <ul class="nav">
        


<li class="active">
<h2>About</h2></li>
        <li><a href="/p/">Projects</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/events/">Events</a></li>
    </ul>
</div>
</div>
</div>

<div id="content">


<div class="section-short">
<h2>{{ page.title }}</h2>
</div>

<div class="section">
{{ content }}
</div>


</div>

<div id="root_footer"></div>
</div>

<div id="footer">
<div id="footer_inner">
    <div id="footer_right"><a href="/p/meta/">About this website</a>. Most text is CC-BY-SA.</div>
</div>
</div>

</body>


